---
title: Home
layout: 'base.njk'
---
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Benvenuto!</h1>
        <p>Mi chiamo X e sono il creatore di questo sito, un progetto totalmente indipendente.</p>
        <p> Easy2use è un raccoglitore di manuali dove verrà limitato l'utilizzo di termini tecnici al fine di aiutare più persone possibili a svolgere attività quotidiane su internet!</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Articoli in evidenza</a>
          <a href="./blog" class="btn btn--neutral">Articoli recenti</a>
        </div>
      </div>
      <div>
        <img src="/assets/index/20943400.jpg" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">In evidenza</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %}
    
    </ul>
  </div>
</section> 

